<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="master :: app_firstheader" />
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header th:replace="master :: app_secondheader"></header>
		<aside th:replace="master :: app_aside"></aside>
		<div class="content-wrapper">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Liste des Emprunts</h3>
							<a th:href="@{/emprunt}"><button class="btn btn-primary" style="margin: 5px !important;float:right;"><i class="fa fa-plus"> Ajout</i></button></a>
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Date Debut</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="c : ${emprunts}">
										<td th:text="${c.dateDebut}"></td>
										<td th:text="${c.description}"></td>
										<td>
											<a th:href="@{/emprunts/{id}(id=${c.id})}"><button class="btn btn-primary" style="margin: 5px !important;"><i class="fa fa-info"> Détail</i></button></a>
											<button th:data-id="${c.id}" class="btn btn-danger deleteEmprunt" style="padding: 5px;"><i class="fa fa-trash"> Supprimer</i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>
		</div>
		<footer th:replace="master :: app_footer"></footer>
		<aside th:replace="master :: app_controlsidebar"></aside>
		<div class="control-sidebar-bg"></div>
	</div>
	<div th:replace="master :: app_script"></div>
	<script type="text/javascript">
		$(".deleteEmprunt").click(function(){
			var id = $(this).attr("data-id");
			event.preventDefault();
			deleteEmprunt(id);
		});
	</script>
</body>
</html>